include ../mixins/mixins.pug

.info-leadership
    .wrapper
        .direction-links.direction-links_position
            a.direction-links__main-link(href="../main/index.html")
                p Главная
            img(src="../../..assets/img/icons/direction-arrow.svg", alt="")
            a.direction-links__main-link(href="../info-education/info-education.html")
                p Сведения об общеобразовательной организации
            img(src="../../assets/img/icons/direction-arrow.svg", alt="")
            p Руководство. Педaгогический состав
        section.info-blocks
            h1.info-blocks__title Руководство. Педагогический состав
            .info-blocks__flex
                .info-first
                    +block-image__450_260('#','Администрация')
                    +block-image__930_360('#','комиссия общеобразовательных и общественных дисциплин комиссия общеобразовательных и общественных дисциплин')
                .info-second
                    +block-yellow__690_390('#','ЦМК отделения Электрификации и автоматизации сельского хозяйства ')
                    .block-second__education
                        +block-yellow__690_180('#','ЦМК Экономических дисциплин')
                        .block-second__documents
                            +block-image__690_180('#','ЦМК отделения Технического обслуживания и ремонта автотранспорта')
                .info-first
                    +block-image__930_360('#','ЦМК отделения Садово-паркового и ландшафтного строительства; Землеустройства ')
