.news {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #171717;
  margin-bottom: 60px;

  .news__titles {
    height: 37px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 50px;

    .news__title_all-news {
      text-decoration: none;
      color: inherit;
    }
  }
}

.news__blocks {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  [class*="news__blocks_"] {
    margin-top: 20px;
  }

  .news__blocks_text {
    display: flex;
    flex-direction: column;
    max-width: 450px;

    .news__block_text-title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      margin-bottom: 17px;
    }

    .news__block_date {
      margin-bottom: 23px;
    }

    .news__block_main {
      width: 450px;
      height: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 20px;
    }

    .news__block_link {
      color: #171717;
      font-weight: 700;
    }
  }
}

.study {
  background: #f7f7f7;
  margin-bottom: 100px;

  .study__block {
    display: flex;
    justify-content: space-between;

    .cart {
      display: flex;
      flex-direction: column;
      min-height: 609px;
      justify-content: space-between;
      width: 450px;
      align-items: center;
      padding: 50px 0 50px 0;

      .cart__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
      }
    }
  }
}

.students {
  border-left: solid #ecddb9;
  border-right: solid #ecddb9;
}

.study__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 20px;
  max-width: 270px;
}

.study__info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  list-style-type: none;
  width: 220px;

  li:not(:last-child) {
    margin-bottom: 20px;
  }

  .study__info_link {
    text-decoration: none;
    color: #171717;
  }
}

.study__button {
  border: 1px solid #ffb401;
  box-sizing: border-box;
  border-radius: 5px;
  width: 220px;
  height: 50px;
  display: flex;
  margin-top: 20px;
  text-decoration: none;

  .study__button_text {
    color: #ffb401;
    display: inline-block;
    margin: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
}

// directions

.directions {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #171717;
  margin-bottom: 100px;

  .directions__titles {
    height: 37px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 50px;

    .directions__title_all-directions {
      text-decoration: none;
      color: inherit;
    }
  }
}

.directions__blocks {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  [class*="directions__blocks_"] {
    margin-top: 34px;
  }

  .directions__blocks_text {
    display: flex;
    flex-direction: column;
    max-width: 450px;

    .directions__block_text-title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .directions__block_link {
      color: #171717;
      font-weight: 700;
    }
  }
}

.resources {
  background: #f7f7f7;
  padding: 50px 0 100px 0;
}

.resources__flex {
  display: flex;
  flex-direction: column;
  height: 287px;
  justify-content: space-between;
}

.resources__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.resources__slider {
  width: 100%;
  height: 200px;
  border: solid red;
}
