footer
    .wrapper
        .wrapper-footer
            .work-time
                .work-time-block
                    p.work-time_title График работы 
                    ul.work-time_list
                        li ПН-ПТ: С 8:00 до 16:15 
                        li ОБЕД: С 12:00 до 13:00
                        li ВЫХОДНОЙ: суббота, воскресенье
                a.vk-link(href="#")
                    figure.icon-vk
            .contact-information
                p.contact-information_title Контактная информация
                ul.contact-information_list 
                    li 165150 г. Вельск ул. Дзержинского, д.88
                    li Директор (881836) 6-11-05
                    li Учебная часть (881836) 6-05-54
                    li Приемная комиссия (881836) 6-30-57
                    li Бухгалтерия (881836) 6-17-70
                    li Электронная почта: vst.29@yandex.ru
            .footer-nav
                nav
                    ul.nav_links
                        li
                            a.nav-link_footer(href="#") Дистанционное обучение
                        li
                            a.nav-link_footer(href="../info-education/info-education.html") Сведения об образовательной организации
                        li
                            a.nav-link_footer(href="#") Государственные услуги
                        li
                            a.nav-link_footer(href="#") Противодействие коррупции
                        li
                            a.nav-link_footer(href="#") Мастерские 2020
                        li
                            a.nav-link_footer(href="#") Электронные обращения
                    a.satellite-link(href="#")
                        figure.icon-satellite