header
    .wrapper 
        .wrapper-flex
            .wrapper-blocks
                .wrapper-block-logo
                    a.logo-link(href="#")
                        .block-logo
                            img(src="../assets/img/logo.png", alt="Вельский сельскохозяйственный техникум")
                            p.text-logo Вельский сельскохозяйственный техникум имени Г.И. Шибанова
                .wrapper-block-search
                    .block-search
                        input(type="text" id="search" placeholder="Поиск")
                        a.link-icon-search(href="#")
                            figure.icon-desk
                    .block-icons
                        a.link-icon-data(href="#")
                            img(src="../assets/img/icons/site-map.svg", alt="site-map")
                        a.link-icon-visually(href="#")
                            img(src="../assets/img/icons/visually-impaired.svg", alt="Версия для слабовидящих")
            .wrapper-nav
                nav
                    .nav-education.nav-list  
                        p.nav-title Дистанционное обучение
                        img(src="../assets/img/icons/arrow-down.svg", alt="Стрелка вниз")
                    .nav-info.nav-list 
                        p.nav-title Сведения об образовательной организации
                        img(src="../assets/img/icons/arrow-down.svg", alt="Стрелка вниз")
                    .nav-services.nav-list 
                        p.nav-title Государственные услуги
                    .nav-services.nav-list 
                        p.nav-title Противодействие коррупции
                    .nav-info.nav-list 
                        p.nav-title Мастерские 2020
                        img(src="../assets/img/icons/arrow-down.svg", alt="Стрелка вниз")
                    .nav-services.nav-list 
                        p.nav-title Электронные обращения
                .nav-burger
                    a(href="#")
                        img(src="../assets/img/icons/burger-menu.svg", alt="Меню")
