header
    .wrapper 
        .wrapper-blocks
            .wrapper-block-logo
                a.logo-link(href="#")
                    .block-logo
                        img(src="logo.png", alt="Вельский сельскохозяйственный техникум")
                        p.text-logo Вельский сельскохозяйственный техникум имени Г.И. Шибанова
            .wrapper-block-nav
                .block-search
                    input(type="text" id="search")
                    img.icon-search(src="icons/search.svg", alt="поиск")
                .block-icons
