.info-education
    .wrapper
        .direction-links.direction-links_position
            a.direction-links__main-link(href="#")
                p Главная
            img(src="../assets/img/icons/direction-arrow.svg", alt="Переход на страницу")
            p Сведения об общеобразовательной организации
        section.info-blocks
            h1.info-blocks__title Сведения об общеобразовательной организации
            .info-first
                .info-first__main
                    .info-first__img
                    p.info-first__title Основные сведения
                .info-first__manager
                    .info-first__img
                    p.info-first__title Структура и органы управления образовательной организацией
            .info-second
                .info-second__teachers
                    figure.icon-teachers
                    p.teachers__title Руководство. Педагогический состав
                .info-second__education
                    .info-second__standarts
                        figure.icon-education
                        p.info-second__title Образовательные стандарты
                    .info-second__documents
                        .education
                            .education__img
                            p.education__title Образование
                        .documents
                            figure.icon-documets
                            p.documents__title Документы
            .info-third
            .info-fourth