<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Velsk
        link(rel="stylesheet", href="../style.css")
    body
        include header.pug
        main
            include second-about-education.pug
        include footer.pug