*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
}
main{
  flex: 1 0 auto;
}
footer{
  flex: 0 0 auto;
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/montserrat-v14-latin_cyrillic-regular.woff2") format("woff2"),
    url("fonts/montserrat-v14-latin_cyrillic-regular.woff") format("woff");
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/montserrat-v14-latin_cyrillic-500.woff2") format("woff2"),
    url("fonts/montserrat-v14-latin_cyrillic-500.woff") format("woff");
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/montserrat-v14-latin_cyrillic-600.woff2") format("woff2"),
    url("fonts/montserrat-v14-latin_cyrillic-600.woff") format("woff");
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.woff2?15378556') format('woff2'),
  url('fonts/fontello.woff?15378556') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
}

.icon-align-justify:before { content: '\e800'; }
.icon-documets:before { content: '\e801'; } 
.icon-education:before { content: '\e802'; } 
.icon-eye:before { content: '\e803'; } 
.icon-paid-education:before { content: '\e804'; } 
.icon-places:before { content: '\e805'; } 
.icon-satellite:before { content: '\e806'; } 
.icon-site-map:before { content: '\e808'; } 
.icon-teachers:before { content: '\e809'; } 
.icon-vk:before { content: '\e80a'; }
//header

.wrapper {
  width: 1410px;
  margin: auto;
}
.wrapper-flex {
  display: flex;
  flex-flow: column;
}
header {
  max-width: 1920px;
  height: 270px;
  display: flex;
  color: #171717;
  background: #f6f6f6;
  .wrapper-blocks {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    .logo-link {
      text-decoration: none;
      font-family: Montserrat;
      .block-logo {
        width: 482px;
        height: 75px;
        display: flex;
        justify-content: space-between;
        .text-logo {
          display: inline-block;
          align-self: center;
          width: 387px;
          height: 54px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
          text-transform: uppercase;
          color: #171717;
        }
      }
    }
    .wrapper-block-search {
      width: 668px;
      height: 30px;
      display: flex;
      .block-search {
        display: flex;
        justify-content: space-between;
        width: 548px;
        margin-right: 30px;
        #search {
          width: 488px;
          height: 30px;
          outline: none;
          border: none;
          border-bottom: 1px solid #757474;
          background: #f6f6f6;
          .icon-search {
            width: 30px;
            height: 30px;
          }
        }
      }
      .block-icons {
        display: flex;
        flex: 1 0 auto;
        justify-content: space-between;
      }
    }
  }
  .wrapper-nav {
    width: 100%;
    height: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #171717;
    display: flex;
    justify-content: space-between;
    nav {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      display: inline-flex;
      .nav-list {
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
      }
    }
  }
}
.icon-to-do-list {
  font-size: 30px;
}

footer {
  display: flex;
  color: #fff;
  max-width: 1920px;
  height: 426px;
  background: #517679;
  .wrapper-footer {
    display: flex;
    justify-content: space-between;
    .work-time_title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .work-time_list {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      list-style-type: none;
      li {
        margin-bottom: 20px;
      }
    }
    .contact-information_title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .contact-information_list {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      list-style-type: none;
      li {
        margin-bottom: 20px;
      }
    }
    .nav_links {
      list-style-type: none;
      li {
        margin-bottom: 20px;
        .nav-link_footer {
          color: white;
          text-decoration: none;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.02em;
        }
      }
    }
    .satellite-link {
      color: white;
      font-size: 20px;
    }
  }
}

// info-about-education
.info-education{
  color: #171717;
  .direction-links_position{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: space-between;
    width: 417px;
    height: 14px;
    margin: 50px 0 100px 0;
    .direction-links__main-link{
      text-decoration: none;
      color: #757474;
    }
  }
}

.info-blocks{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  .info-blocks__title{
    color: #171717;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 45px;
  }
}


.info-first{
  display: flex;
  justify-content: space-between;
  .info-first__main{
    width: 449px;
    height: 260px;
    position: relative;
    .info-first__img{
      width: 449px;
      height: 260px;
      background: url('assets/img/grain.png') no-repeat ;
      position: relative;
      &::before{
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-color: rgba(78, 123, 125, 0.8);
        border-radius: 5px;
      }
    }
    .info-first__title{
      position: absolute;
      top: 107px;
      left: 72px;
      line-height: 29px;
      text-transform: uppercase;
      padding-bottom: 17px;
      &::before{
        content: '';
        background-color: #FFB401;
        height: 2px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  .info-first__manager{
    position: relative;
    width: 930px;
    height: 260px;
    .info-first__img{
      width: 930px;
      height: 260px;
      background: url('assets/img/manager.png') no-repeat ;
      position: relative;
      &::before{
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-color: rgba(78, 123, 125, 0.8);
        border-radius: 5px;
      }
    }
    .info-first__title{
      width: 756px;
      position: absolute;
      top: 107px;
      left: 72px;
      line-height: 150%;
      text-align: center;
      padding-bottom: 17px;
      &::before{
        content: '';
        background-color: #FFB401;
        height: 2px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}
.info-second{
  height: 390px;
  display: flex;
  justify-content: space-between;
}


.info-second__teachers{
  width: 690px;
  height: 390px;
  background: linear-gradient(0deg, #FFB401, #FFB401), rgba(23, 23, 23, 0.5);
  border-radius: 5px;
  position: relative;
  .icon-teachers{
    position: absolute;
    left: 314px;
    top: 137px;
    font-size: 58px;
  }
  .teachers__title{
    position: absolute;
    left: 63px;
    top: 225px;
  }
}

.info-second__education{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .info-second__standarts{
    width: 690px;
    height: 161px;
    background: #FFB401;
    position: relative;
    border-radius: 5px;
    .icon-education{
      position: absolute;
      top: 56px;
      left: 91px;
      font-size: 55px;
    }
    .info-second__title{
      position: absolute;
      left: 174px;
      top: 71px;
    }
  }
  .info-second__documents{
    display: flex;
    width: 690px;
    justify-content: space-between;
    .education{
      position: relative;
      .education__img{
        width: 330px;
        height: 200px;
        background: url('assets/img/education.png');
        position: relative;
        &::before{
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba(78, 123, 125, 0.4);
          border-radius: 5px;
        }
      }
      .education__title{
        position: absolute;
        top: 85px;
        left: 65px;
      }
    }
    .documents{
      width: 330px;
      height: 200px;
      background: #FFB401;
      position: relative;
      border-radius: 5px;
      .icon-documets{
        font-size: 60px;
        position: absolute;
        top: 45px;
        left: 140px;
      }
      .documents__title{
        position: absolute;
        top: 125px;
        left: 81px;
      }
    }
  }
}

