header.header
    .wrapper 
        .wrapper-flex
            .wrapper-blocks
                .wrapper-block-logo
                    a.logo-link(href="../main/index.html")
                        .block-logo
                            img(src="../../assets/img/logo.png", alt="Вельский сельскохозяйственный техникум")
                            p.text-logo Вельский сельскохозяйственный техникум имени Г.И. Шибанова
                .wrapper-block-search
                    .block-search
                        input.search-input(type="text" id="search" placeholder="Поиск")
                        a.link-icon-search(href="#")
                            figure.icon-search
                    .block-icons
                        a.link-icon-data(href="#")
                            figure.icon-site-map
                        a.link-icon-visually(href="#")
                            figure.icon-eye
            .wrapper-nav
                nav
                    a.nav-education.nav-list(href="#")  
                        p.nav-title Дистанционное обучение
                        img(src="../../assets/img/icons/arrow-down.svg", alt="Стрелка вниз")
                    a.nav-info.nav-list(href="../info-education/info-education.html") 
                        p.nav-title Сведения об образовательной организации
                        img(src="../../assets/img/icons/arrow-down.svg", alt="Стрелка вниз")
                    a.nav-services.nav-list(href="#")
                        p.nav-title Государственные услуги
                    a.nav-services.nav-list(href="#")
                        p.nav-title Противодействие коррупции
                    a.nav-info.nav-list(href="#") 
                        p.nav-title Мастерские 2020
                        img(src="../../assets/img/icons/arrow-down.svg", alt="Стрелка вниз")
                    a.nav-services.nav-list(href="#") 
                        p.nav-title Электронные обращения
                a.nav-burger(href="#")
                    figure.icon-menu
